.form1{
    background-color: blue;
}
.form1 label{
    display: flex;
    flex-direction: column;
}
.inputForm1{
    background-color: antiquewhite;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: none;
}

.largeInput{
    padding-top: 1rem;
    width: calc(30vw + 100px);
    height: calc(10vw + 50px);
    padding-bottom: 20px;
}
.submitButton{
    background-color: var(--primary-color);
    width: 10em;
    border: none;
    border-radius: 5%;
    font-size: 1rem;
    padding: 1rem;
    color: white;
}