.Hero{
min-height: 50rem;   
 background-origin: border-box;
    background-size: cover;
    background-position: absolute, relative;
    width: 100%;
    background-repeat: no-repeat;
    font-family: 'Work-Sans';
  background-image: url('../../public/HeroImage2.webp');
  padding-bottom: clamp(1em, 5vh, 20vh);
display: flex;
flex-direction: column;
align-content: flex-end;
}
.HeroText{
    
    font-family: 'Work-Sans';
   margin: 0px;
  padding-left: clamp(1rem, 3vw + 5px, 6rem);
  padding-top: 10rem;
  color: rgb(255, 255, 255);
  line-break: auto;
  letter-spacing: 1px;
font-size: clamp(3rem , 6vw + 10px, 10rem); 

}

 .HeroText h1{
 width: 80%;

 }

 @media (width<900px){
    .Hero{
        height: auto;
    }
 }

 