
    .logoContainer{
      display: flex;
      flex-direction: row;
      background-color: #2a2931;
      align-items: center;
align-content: center;

align-items: center;
justify-items: center;
width: 33vw;
padding: 0px;
margin: 0px;


    }

 .logo{
  
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  color: white;
 }
     .marcus{
      width: auto;
      filter:contrast(3%) saturate(100%) hue-rotate(180deg) invert(75%)
     }
    .nav {
      justify-content: space-between;
      display: flex;
      flex-wrap: wrap;
padding: 0px;
margin:0px;
align-items: center;
flex-direction: row;
    }

    @media (width< 800px){
      .nav{
        display: flex;
        flex-direction: column;
        align-items: normal;
      }
      
      .logoContainer{
        width: 100%;
        justify-content: center;
      };

      .logoTitle{
    display: none;
      }
    }



    .nav h1{
        font-size: clamp(.8rem,1vw,1.5rem)
    }
    
 

  .logo img{
    width: clamp(80%, 3vw,100%);
   
    box-sizing: border-box;
  }



.Home {
  font-weight: bold;
text-decoration: none;
color: white;

}

    .marcus{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 0px 1rem 0px 1rem;
      font-size: clamp(2rem,2vw,2.5rem);
      text-decoration: none;
      color: white;
    }

.marcusLogo{
  filter: invert(100%);
}
 .logoImage{
  padding: 1rem
 }
  
  .logoTitle {
    width: auto;
    color: #dddddd;
    display: flex;
    flex-direction: column;
  }
  .logoTitleMarcus{
    font-size: 1.7rem;
  }
 .logoTitleUnder{
  width: max-content;
 }
 


 .linksMobileOpen {
text-decoration: none;
display: flex;
height: auto;
padding: 1rem 1rem 1rem 4rem;
visibility: visible;
flex-direction: column;
transition: all .4s;
position: relative;
background-color: #d1a625;
list-style: none;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-decoration-style: none;

}
.linksMobileOpen a{
visibility: none;
opacity: 100; 
padding-left: 4rem;
padding-top: .5rem;
font-size: 1rem;
color: rgb(35, 35, 35);
height: 100%;
text-decoration: none;
color: rgb(26, 25, 25);
transition-property: all;
transition-duration: .5s;
}


.linksMobileOpen a:hover{
  box-shadow: #686480;
  text-decoration: underline 2px;

}

.linksMobileClosed a{
position: absolute;
box-sizing: border-box;
transition-property: visibility;
transition-duration: .5s;
opacity: 0;
height: 0;
padding: 1px;
overflow: hidden;

}
.menuButtonMobile{
background-image: url(../../public/mbglogo.svg);
background-repeat: no-repeat;
background-position: center;

box-shadow: 10px 5px 5px grey;
font-size: 1rem;
background-color: rgb(32, 32, 32);
font-family:sans-serif;
align-self: center;
height: auto;
color: white;
max-width: 100vw;
text-align: center;
justify-content: center;
margin:0px;
}

.menuButtonMobile p{
padding: .5rem;
}
.menuButtonMobile span{
background-color: black;
width: 30%;
padding-top: 2em;

}
.linksMobileClosed{
height: 0;
width: inherit;
box-sizing: border-box;
overflow: hidden;
position: relative;
transition-property: visibility;
transition-duration: .4s;
transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
transition-property: all;
opacity: 0;
background-color: orange;


}
.linksDesktop{
width: 100%;
text-decoration: none;
display: flex;
justify-content: space-around;
justify-self: flex-end;  
flex-direction: row;
padding-right: 2rem;
}

.linksDesktop a {
  color: black;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 1rem;
flex-wrap: wrap;
align-items: center;
padding-left: clamp(5px, 1vw, 1rem);
padding-right: clamp(5px, 1vw, 1rem);
padding-top: 1.6rem;

padding-bottom: 1.6rem;
text-decoration: none;
}
.linksDesktop a > .HomeNav{
  color: #d1a625;
}

.linksDesktop a:hover{
text-decoration: underline 2px solid black;
}


  .dropDownClosed{
    filter: grayscale(100%);
    width: 3em;
    position: absolute;
    display: flex;
    margin: 0;
    padding: 0;
    top: 4rem;
    transition: all .2s;
    left: 50%;
  }
  .dropDownOpen{
    position: absolute;
    transition: all .2s;
    transform: rotate(180deg  );
    width: 2em;
    left: 50%;
     }


.ArrowContainer{
  width: 0px;
  margin: -10px;
}
.HomeNav {
  color: #d1a625;
  font-weight: bolder;
}