
    .logoContainer{
      display: flex;
      flex-direction: row;
      background-color: #2a2931;
      align-items: center;
align-content: center;

align-items: center;
justify-items: center;
width: 33vw;
padding: 0px;
margin: 0px;


    }

 .logo{
  
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  color: white;
 }
     .marcus{
      width: auto;
      filter:contrast(3%) saturate(100%) hue-rotate(180deg) invert(75%)
     }
    .nav {
      justify-content: space-between;
      display: flex;
      flex-wrap: wrap;
padding: 0px;
margin:0px;
flex-direction: row;
    }

    @media (width< 800px){
      .nav{
        display: flex;
        flex-direction: column;
      }
      
      .logoContainer{
        width: 100%;
        justify-content: center;
      };

      .logoTitle{
    display: none;
      }
    }



    .nav h1{
        font-size: clamp(.8rem,1vw,1.5rem)
    }
    
 

  .logo img{
    width: clamp(80%, 3vw,100%);
   
    box-sizing: border-box;
  }



.Home {
  font-weight: bold;
text-decoration: none;
color: white;

}

    .marcus{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 0px 1rem 0px 1rem;
      font-size: clamp(2rem,2vw,2.5rem);
      text-decoration: none;
      color: white;
    }

  .navLinkContainer{
    flex-direction: row;
    display: flex;
    align-items: flex-end;
  }
  
  .logoTitle {
    width: auto;
    color: #dddddd;
    display: flex;
    flex-direction: column;
  }
  .logoTitleMarcus{
    font-size: 1.7rem;
  }
 .logoTitleUnder{
  width: max-content;
 }