.container {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(50%, 1fr));
  }
  
  
  .container p{
  }
  @media (min-width: 768px) {
    .container {
      justify-content: space-between;

    }
  }
  @media (max-width : 500px ){
    .container{
    grid-template-columns: repeat(auto-fit, 100%);

    }
  }