.container {
  color: rgb(241, 234, 234);
display: flex;  
padding-right: 2rem;
width: fit-content;
flex-direction: column;
padding-bottom: 5rem;
  }
  
  .img {
    border-radius: 3%;
    width: clamp(20rem - 100px, 40vw, 70%) ;   box-shadow: 2px 1px 1px grey;
    object-fit: contain;
    margin-bottom: 10px;
    height: auto;
  }
  
  .ImageTitle {

    text-align: left;
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: normal;
  }
  

  
 .ProjectData{
  font-style: lighter;
  max-width: clamp(50ch + 2px, 4em , 60ch);
  font-size: clamp( .8rem, .5vw, 1rem);
  line-height: 2.2ch;
 }

 @media (width <800px){

  .img{
    width: 100%;
  }
 }