.rectangle {
    max-width: clamp(70%, 5vw, 100%);
    background-color: hsl(60, 1%, 19%);
    transform: skewX(-20deg);
    text-align: center;
    justify-content: center;
    align-content: center;
    margin-top: clamp(-5em,-2vw,-50%);
    padding-top: 0;

    padding: calc(10px + 1.5rem);
    
text-align: center;
  }
  
  .rectangle p {
    margin-left: -4rem;
    margin-top: -2rem;
    text-align: center;
    color: white;
    justify-content: center;
    line-height: 2ch;
    font-weight: normal;
    transform: skewX(20deg);
    font-size: clamp(1.5rem,2vw, 5rem)

    
  }
  
  .rectangle p span {
    font-weight: bold;
    color: #FFBE00;
  }
  