
    .container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25vw,1fr));
        min-width: 100%;
       }



.images{
    height: auto;
 
    max-width: 100%;
}

.totalContainer{
 display: flex;
 flex-direction: column-reverse;
 gap: 1em;
}
.totalContainer h1{
    padding-left: 10%;

    font-size: 1rem;
}

.imageContainer{
    flex-wrap: wrap;
    padding-right: 3rem;
    display: flex;
    flex-direction: row;
    transition: all 0.3s ease;

}



@keyframes animation {
    from {

opacity: 0;


    }
    to {
        
        opacity: 1;
       
    }
}
.description{
width: 20%;

}
.description_expanded{
    padding: 2rem;
    animation-name: animation;
    animation-duration: 4s;
    opacity: 1;
    display: flex;
}
.description p{
   
}

@media (width<800px){

    .container{display: flex;
    flex-direction: column;
    min-width: 100%;
    }

    
}