
.container{
    padding: 1rem;
    padding-left: clamp(3rem, 10vw + 20px ,15rem);
      
       gap: 3rem;
    background-color: #33363A;
    color: whitesmoke;
}

.text h1{
    font-size: 4rem;
    font-weight: bold;
}
.text p{
    font-size: 1rem;
    font-weight: lighter;
    width: 80%;
}
.text{
    margin-bottom: 6rem;
}

@media ( width < 800px) {
    .container{
    }
    
}